<div class="wrapper">
    <div class="logo">
        <img src="https://favpng.com/png_view/child-pediatrics-medicine-child-specialty-pediatric-nursing-png/MyMEjhuc" alt="">
    </div>
    <div class="text-center mt-4 name">
        Registration
    </div>
    <form class="p-3 mt-3" st>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userName" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="Hospital" id="Hospital" placeholder="Hospital">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div>
        <button class="btn mt-3" routerLink="/home">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a> or <a href="#">Sign up</a>
    </div>
</div>
<router-outlet></router-outlet>
