<h1>Fill Child Information</h1>
<hr>
<form class="example-form">
    <div class="row">
        <div class="col-sm-4">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label> First Name</mat-label>
                <input matInput>
              </mat-form-field>
             </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Middle name</mat-label>
                <input matInput>
              </mat-form-field></div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Last name</mat-label>
                <input matInput>
              </mat-form-field> </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Date of Birth</mat-label>
                <input matInput>
              </mat-form-field>
             </div>
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Place of Birth</mat-label>
                <input matInput>
              </mat-form-field></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Hospital Name</mat-label>
                <input matInput>
              </mat-form-field>
             </div>
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="xample-full-width">
                <mat-label>Time of Birth</mat-label>
                <input matInput>
              </mat-form-field></div>
              <div class="row">
                <div class="col">
                    <b>Gender</b>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="1"><b>Male</b></mat-radio-button>
                            <mat-radio-button value="2"><b>Female</b></mat-radio-button>
                          </mat-radio-group>
                    </div>
                </div>
              </div>
              <br>
              <br>
    </div>
    <br>
    <br>
    <h1>Fill Mother Information</h1>
<hr>
<form class="example-form">
    <div class="row">
        <div class="col-sm-4">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>First name</mat-label>
                <input matInput>
              </mat-form-field>
             </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Middle name</mat-label>
                <input matInput>
              </mat-form-field></div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Last name</mat-label>
                <input matInput>
              </mat-form-field> </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Nationality</mat-label>
                <input matInput>
              </mat-form-field>
             </div>
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Occupation</mat-label>
                <input matInput>
              </mat-form-field></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Tribe</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Apload National ID</mat-label>
                        <input type="file">
                      </mat-form-field>
                     </div>
    </div>
    <br>
    <br>
    <h1>Fill Father Information</h1>
<hr>
<form class="example-form">
    <div class="row">
        <div class="col-sm-4">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>First name</mat-label>
                <input matInput>
              </mat-form-field>
             </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Middle name</mat-label>
                <input matInput>
              </mat-form-field></div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Last name</mat-label>
                <input matInput>
              </mat-form-field> </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Nationality</mat-label>
                <input matInput>
              </mat-form-field>
             </div>
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Occupation</mat-label>
                <input matInput>
              </mat-form-field></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Tribe</mat-label>
                <input matInput>
              </mat-form-field>
             </div>
             <div class="row">
                <div class="button btn-btn">

                </div>
                
                  <div class="row">
                  <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary" style="padding-left: 2px;">CONFIRM</button>
                  </div>
                  <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary" style="padding-left: 10px; margin-left: 40px;" routerLink="/dashboard">SAVE</button>
                  </div>
                  </div>
             </div>
    </div>
  </form>
  
