<form class="example-form">
  <div class="input-group">
    <div class="form-outline">
      <input type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1">Search</label>
    </div>
    <!-- <button type="button">
      <i class="fas fa-search"></i>
    </button> -->
  </div>
  <div class="row">
      <div class="col-sm-12">
          <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Name</mat-label>
              <input matInput>
            </mat-form-field>
           </div>
      <div class="col-sm-12">
          <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Middle name</mat-label>
              <input matInput>
            </mat-form-field></div>
      <div class="col-sm-12">
          <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Last name</mat-label>
              <input matInput>
            </mat-form-field> </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Name</mat-label>
                  <input matInput>
                </mat-form-field>
               </div>
          <div class="col-sm-12">
              <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Middle name</mat-label>
                  <input matInput>
                </mat-form-field></div>
          <div class="col-sm-12">
              <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Last name</mat-label>
                  <input matInput>
                </mat-form-field> </div>
                <div class="col-sm-12">
                  <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Name</mat-label>
                      <input matInput>
                    </mat-form-field>
                   </div>
              <div class="col-sm-12">
                  <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Middle name</mat-label>
                      <input matInput>
                    </mat-form-field></div>
              <div class="col-sm-12">
                  <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Last name</mat-label>
                      <input matInput>
                    </mat-form-field> </div>
                    <router-outlet></router-outlet>
  </div>
  </form>