<h1>Fill Child Information</h1>
<hr>
<form class="example-form">
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput >
              </mat-form-field>
             </div>
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Birth Date</mat-label>
                <input matInput>
              </mat-form-field></div>
    </div>
    <div class="row">
      <div class="col-sm-6">
          <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Place of Birth</mat-label>
              <input matInput>
            </mat-form-field>
           </div>
      <div class="col-sm-6">
          <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Hospital</mat-label>
              <input matInput>
            </mat-form-field></div>
  </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Time</mat-label>
                <input matInput>
              </mat-form-field>
             </div>z
              <br>
    <h1>Fill Mother Information</h1>
<hr>
<form class="example-form">
  <div class="row">
    <div class="col-sm-6">
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput>
          </mat-form-field>
         </div>
    <div class="col-sm-6">
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Birth Date</mat-label>
            <input matInput>
          </mat-form-field></div>
</div>
<div class="row">
    <div class="col-sm-6">
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Occupation</mat-label>
            <input matInput>
          </mat-form-field>
         </div>
    <div class="col-sm-6">
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Nationality</mat-label>
            <input matInput>
          </mat-form-field></div>
</div>
<div class="row">
    <div class="col-sm-6">
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Tribe</mat-label>
            <input matInput>
          </mat-form-field>
         </div>
         <div class="row">
            <div class="button btn-btn">

            </div>
    <br>
    <br>
    <h1>Fill Father Information</h1>
<hr>
<form class="example-form">
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput>
              </mat-form-field>
             </div>
             <div class="col-sm-6">
              <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Birth Date</mat-label>
                  <input matInput>
                </mat-form-field>
               </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Occupation</mat-label>
                <input matInput>
              </mat-form-field>
             </div>
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Nationality</mat-label>
                <input matInput>
              </mat-form-field></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Tribe</mat-label>
                <input matInput>
              </mat-form-field>
             </div>
             <div class="row">
                <div class="button btn-btn">

                </div>
                
                <div class="col-sm-2">
                  <button type="submit" class="btn btn-primary" style="padding-left: 10px; margin-left: 40px;" routerLink="/dashboard">SAVE</button>
                </div>
                </div>
             </div>
  </form>
